<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Kloudio add to Slack</h1>
    <p>The following button should add a service to your slack</p>
    <a type="button" class="btn btn-lg btn-default" href="https://slack.com/oauth/authorize?client_id=7412967968.87339409396&scope=channels:read files:write:user users:list"><span class="glyphicon glyphicon-flash"></span> Add To Slack</a>
  </div>
</div>
</body>
</html>
